/* Variables */
:root
{
  --sl-input-spacing-medium: 0.5rem;
  --light-theme-display: table-cell;
  --dark-theme-display: table-cell;
  --any-theme-display: none;
  --table-row-display: none;
}

:root,
:host,
.sl-theme-light
{
  --high-contrast: black;
  --main-background: aliceblue;
  --main-color: black;
  --main-border: #4b4b4b;
  --table-background: white;
  --loading-overlay-background: rgba(0, 0, 0, 0.7);
  --scrollbar-foreground: #7B7B7B;
}

:host,
.sl-theme-dark
{
  --high-contrast: white;
  --main-background: #14191d;
  --main-color: #cccccc;
  --main-border: #4b4b4b;
  --table-background: black;
  --loading-overlay-background: rgba(0, 0, 0, 0.5);
  --scrollbar-foreground: #9C9C9E;
}

/* General Tags */
html, body
{
  background: var(--main-background);
  color: var(--main-color);
  font-family: Arial, sans-serif;
  margin: 0;
  scrollbar-width: thin;
  --scrollbar-background: transparent;
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

sl-select
{
  caret-color: transparent;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: var(--table-background)
}

table th.width-content,
table td.width-content
{
  min-width: max-content;
}

tr, td, th
{
  border: 1px solid var(--main-border);
  padding: 6px 8px;
  text-align: left;
}

td.center {
  line-height: 1;
}

td.center sl-icon
{
  display: block;
  margin: auto;
}

td.center-priority {
  height: 100%;
}

td.center-priority sl-icon,
td.center-priority sl-skeleton
{
  display: inline-block;
  vertical-align: middle;
}

th.min-width
{
  padding-left: 16px;
}

/* Helper Classes */
.display-none
{
  display: none !important;
}

.hidden
{
  visibility: hidden;
}

.center
{
  text-align: center;
}

.right-align
{
  text-align: right;
  justify-content: end;
}

.center-cell
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mw-100
{
  min-width: 100px;
}

/* Shoelace Tags */
sl-card
{
  --sl-panel-background-color: var(--sl-color-neutral-0);
}

sl-checkbox,
sl-switch,
sl-radio
{
  padding-inline-start: 0.5em;
}

sl-button.square,
sl-skeleton.square
{
  --border-radius: var(--sl-border-radius-medium);
  height: 40px;
  width: 40px;
}

sl-skeleton.circle
{
  --border-radius: var(--sl-border-radius-circle);
  height: 40px;
  width: 40px;
}

sl-drawer table
{
  table-layout: fixed;
}

.priority-icons sl-skeleton.circle
{
  height: 20px;
  width: 20px;
  margin: 0 3px;
}

/* Header */
.header
{
  padding: 2rem;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  background: var(--main-background);
  border-bottom: 1px solid var(--main-border);
}

#options-title
{
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  height: 50px;
}

#options-title img
{
  height: 50px;
  width: 50px;
}

.helper-row
{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.helper-row #button-column
{
  display: flex;
  gap: 4.45px;
}

/* Table */
table#siteConfigs
{
  margin-bottom: 2rem;
}

table#siteConfigs th:not(.width-auto),
#icon-packs-tables table th:not(.width-auto)
{
  width: 1%;
}

#tableSettings
{
  background: transparent;
  table-layout: auto;
}

#tableSettings thead
{
  visibility: collapse;
}

#tableSettings td div
{
  display: flex;
  align-items: center;
  gap: 1rem;
}

#tableSettings tr,
#tableSettings td,
#tableSettings th
{
  border: 0;
  height: 50px;
}

#tableSettings th.minimal-width
{
  width: 1%;
}

#icon-packs-tables table
{
  table-layout: auto;
}

#icon-packs-tables div
{
  width: 100%;
}

.sl-spinner
{
  font-size: 6.25rem;
  --track-width: 0.625rem;
}

.content
{
  margin: 2rem;
}

.skeleton-row
{
  height: 50px;
}

.no-data-row td
{
  padding: 18px 0px;
}

sl-tab-panel[name="icon-packs"] .icon-pack-header th
{
  font-style: italic;
  font-weight: 500;
}

.icon-pack-header .version
{
  --sl-spacing-x-small: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.icon-pack-header .version a
{
  color: var(--main-color);
  line-height: 0;
}

sl-tab-panel[name="icon-packs"] code
{
  font-size: 16px;
}

sl-tab-panel[name="icon-packs"] sl-badge
{
  font-size: 22px;
}

.site-cell,
sl-drawer [slot="label"]
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-cell sl-input
{
  width: 100%;
}

.site-cell.read
{
  padding: 0px 8px;
  font-size: 16px;
}

#pattern-type-header
{
  --sl-spacing-x-small: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.site-cell > sl-input
{
  --sl-input-font-family: monospace;
}

.type-cell,
.color-cell
{
  margin-left: 9px;
}

.type-cell sl-icon-button
{
  font-size: 0.8rem;
}

sl-tag sl-icon-button
{
  font-size: 0.875rem;
  margin-right: -7px;
}

.favicon-cell img,
.icon-cell svg,
.icon-cell sl-skeleton,
#icon-value,
#icon-vale-not-found sl-button
{
  height: 40px;
  width: 40px;
  display: flex;
}

#icon-value img
{
  height: 35px;
  width: 35px;
  padding: 1.5px;
}

.favicon-cell .center-cell
{
  gap: 12px;
}

.icon-cell > svg,
.icon-cell > sl-skeleton
{
  margin: 0 auto;
}

.icon-cell .inactive
{
  opacity: 50%;
}

.priority-icons sl-icon-button
{
  font-size: 20px;
}

.priority-icons sl-icon-button,
.site-cell sl-copy-button,
.site-cell sl-icon-button
{
  margin: -5px;
}

.site-cell sl-icon-button
{
  font-size: 1rem;
}

#loading-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--loading-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#current-icon,
#updated-icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

#current-icon,
#updated-icon
{
  height: 40px;
}

#current-icon svg,
#current-icon img,
#updated-icon svg,
#updated-icon img
{
  height: 40px;
  width: 40px;
}

#delete-confirmation sl-alert
{
  margin-top: 2rem;
}

#delete-confirmation-text
{
  word-wrap: break-word;
}

.siteConfig-row
{
  display: var(--table-row-display);
}

/* Pattern Types Dialog */
#pattern-types
{
  --width: 50vw;
}

#pattern-types div
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#pattern-types #parts-of-a-url div
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#pattern-types #parts-of-a-url img
{
  border-radius: var(--border-radius);
}

#parts-of-a-url
{
  width: 100%;
}

.upload-list-item div[slot="footer"],
.url-import-list-item div[slot="footer"]
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light-theme-display
{
  display: var(--light-theme-display);
}

.dark-theme-display
{
  display: var(--dark-theme-display);
}

.any-theme-display
{
  display: var(--any-theme-display);
}

#icon-packs-tables
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.status-div
{
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

/* emoji-picker-element */
sl-tab-panel.emojis
{
  padding: 0.5rem;
}

emoji-picker {
  --background: var(--sl-panel-background-color);
  --border-size: '0px';
  --input-border-color: var(--sl-input-border-color);
  --input-border-radius: var(--sl-input-border-radius-medium);
  --input-placeholder-color: var(--sl-input-icon-color);
  --input-font-color: var(--sl-input-font-color);
  --indicator-color: var(--sl-color-primary-600);
  --outline-color: var(--sl-color-primary-600);

  height: 100%;
  width: 100%;
}

.drawer__header .emojis > div
{
  border: solid 1px var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  overflow: scroll;
}

/* Icon style */
.ionicon,
.Font_Awesome
{
  fill: currentColor;
  stroke: currentColor;
}
.Lucide
{
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.drawer-footer,
.dialog-footer
{
  display: flex;
  justify-content: space-between;
}

.ionicon-fill-none {
  fill: none;
}
.ionicon-stroke-width {
  stroke-width: 32px;
}

/* Icon toolbar */
#icon-toolbar
{
  display: flex;
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 10;
  background: var(--sl-color-neutral-300);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.125rem 0.25rem;
  align-items: center;
  gap: 2px;
}

#icon-toolbar button,
#icon-toolbar a
{
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  border-radius: var(--docs-border-radius);
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#open-settings-button
{
  font-size: 1.25rem;
}

#theme-selector:not(:defined)
{
  display: none;
}

#theme-selector sl-menu
{
  width: 140px;
}

#theme-selector sl-button
{
  transition: 250ms scale ease;
}

#theme-selector sl-button::part(base)
{
  color: black;
}

#theme-selector sl-button:hover::part(label),
#theme-selector sl-button:hover::part(caret)
{
  color: var(--sl-color-primary-600);
}

#theme-selector sl-button::part(label)
{
  display: flex;
  padding: 0.5rem;
}

sl-icon-button
{
  color: currentColor;
}

#theme-selector sl-icon
{
  font-size: 1.25rem;
}

.sl-theme-dark #theme-selector sl-button::part(base),
#open-settings-button,
.sl-theme-dark #icon-toolbar button,
.sl-theme-dark #icon-toolbar a
{
  color: var(--high-contrast);
}

#icon-toolbar a:not(:last-child),
#icon-toolbar button:not(:last-child)
{
  margin-right: 0.1rem;
}

@media screen and (max-width: 900px) {
  #icon-toolbar
  {
    right: 0;
    border-bottom-right-radius: 0;
  }

  #icon-toolbar button,
  #icon-toolbar a
  {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #theme-selector sl-icon
  {
    font-size: 1rem;
  }
}

html.sl-theme-dark .only-light,
html:not(.sl-theme-dark) .only-dark
{
  display: none !important;
}

.icon-list-item svg
{
  height: 30px;
  width: 30px;
}

.upload-list,
.url-import-list
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: end;
}

.upload-list-item,
.url-import-list-item
{
  width: auto !important;
  max-width: 100%;
}

.upload-list-item::part(footer),
.url-import-list-item::part(footer)
{
  --padding: 0;
}

.upload-list-item img,
.url-import-list-item img
{
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

.upload-list-item [slot="header"],
.url-import-list-item [slot="header"]
{
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  max-width: 100%;
}

sl-icon-button.delete-upload::part(base):hover
{
  color: var(--sl-color-danger-600) !important;
}

sl-tab
{
  width: 50%;
  text-align: center;
}

/* Icon Search */
#search-input
{
  max-width: 250px;
}

.icon-upload > div:first-child,
.icon-url > div:first-child
{
  margin-bottom: 1.5rem;
}

.drawer__header .icon-upload,
.drawer__header .icon-url
{
  overflow: scroll;
}

.drawer__header .icon-upload > div,
.drawer__header .icon-url > div
{
  padding: 1rem;
  border: solid 1px var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  overflow: scroll;
}

.drawer__body .icon-upload > div,
.drawer__body .icon-url > div
{
  padding: 1rem;
}

.icon-upload p,
.icon-url p
{
  display: ruby;
}

.icon-search [hidden] {
  display: none;
}

.icon-search-controls {
  display: flex;
  gap: 10px;
}

.icon-search-controls sl-select {
  width: 10rem;
  flex: 0 0 auto;
  margin-left: 1rem;
}

#icon-search-row
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  /* margin-top: 1rem; */
}

.icon-loader[hidden],
.icon-list[hidden] {
  display: none;
}

.icon-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sl-border-radius-medium);
  font-size: 24px;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  cursor: copy;
  transition: var(--sl-transition-medium) all;
}

.icon-list-item:hover {
  background-color: var(--sl-color-primary-50);
  color: var(--sl-color-primary-600);
}

.icon-list[data-type="outline"] .icon-list-item[data-name$="-fill"] {
  display: none;
}

.icon-list[data-type="fill"] .icon-list-item:not([data-name$="-fill"]) {
  display: none;
}

.icon-list {
  grid-template-columns: repeat(8, 1fr);
}

.icon-list-item {
  font-size: 20px;
}

.icon-search-controls {
  display: block;
}

.icon-search-controls sl-select {
  width: auto;
  margin: 1rem 0 0 0;
}

@media screen and (max-width: 500px) {
  .icon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

#upload.upload-row
{
  margin-bottom: 1rem;
}

.upload-row
{
  display: flex;
  align-items: center;
}

.upload-row > button
{
  margin-right: 0.5rem;
}

.url-input-row
{
  display: flex;
  justify-content: space-between;
}

#icon-url-import-input
{
  max-width: 235px;
}

/* Drawer */
#icon-selector-title
{
  align-items: center;
}

:host {
  --size: 25rem;
  --header-spacing: var(--sl-spacing-large);
  --body-spacing: var(--sl-spacing-large);
  --footer-spacing: var(--sl-spacing-large);

  display: contents;
}

.drawer {
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.drawer--contained {
  position: absolute;
  z-index: initial;
}

.drawer--fixed {
  position: fixed;
  z-index: var(--sl-z-index-drawer);
}

.drawer__panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--sl-panel-background-color);
  box-shadow: var(--sl-shadow-x-large);
  overflow: auto;
  pointer-events: all;
}

.drawer__panel:focus {
  outline: none;
}

.drawer--top .drawer__panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 100%;
  height: var(--size);
}

.drawer--end .drawer__panel {
  top: 0;
  inset-inline-end: 0;
  bottom: auto;
  inset-inline-start: auto;
  width: var(--size);
  height: 100%;
}

.drawer--bottom .drawer__panel {
  top: auto;
  inset-inline-end: auto;
  bottom: 0;
  inset-inline-start: 0;
  width: 100%;
  height: var(--size);
}

.drawer--start .drawer__panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: var(--size);
  height: 100%;
}

/* .drawer__header {
  display: flex;
} */

.drawer__header
{
  display: grid;
  margin: var(--header-spacing);
  gap: 1.5rem;
}

.drawer__header > div.header_div
{
  display: flex;
}

.drawer__title {
  flex: 1 1 auto;
  font: inherit;
  font-size: var(--sl-font-size-large);
  line-height: var(--sl-line-height-dense);
  /* padding: var(--header-spacing); */
  margin: 0;

  align-content: center;
  display: flex;
  gap: 8px;
}

.drawer__header-actions {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: var(--sl-spacing-2x-small);
  /* padding: 0 var(--header-spacing); */
}

.drawer__header-actions sl-icon-button,
.drawer__header-actions ::slotted(sl-icon-button) {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--sl-font-size-medium);
}

.drawer__body {
  flex: 1 1 auto;
  display: block;
  /* padding: var(--body-spacing); */
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Custom */
  margin-top: 0.25rem;
  margin-left: var(--body-spacing);
  margin-right: var(--body-spacing);
}

.drawer__body
{
  border: solid 1px var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  /* padding: 0.5rem; */
}

.drawer__body sl-tab-panel[name="icon-packs"]
{
  padding: 0.5rem;
}

.drawer__footer {
  /* text-align: right; */
  padding: var(--footer-spacing);
  padding-top: 1.5rem;
}

.drawer__footer ::slotted(sl-button:not(:last-of-type)) {
  margin-inline-end: var(--sl-spacing-x-small);
}

.drawer:not(.drawer--has-footer) .drawer__footer {
  display: none;
}

.drawer__overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sl-overlay-background-color);
  pointer-events: all;
}

.drawer--contained .drawer__overlay {
  display: none;
}

@media (forced-colors: active) {
  .drawer__panel {
    border: solid 1px var(--sl-color-neutral-0);
  }
}

/* Beta badge */
#backup-action-buttons sl-badge
{
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#backup-action-buttons:hover sl-badge
{
  opacity: 1;
}


/* Settings Dialog */
#settings-dialog
{
  --size: 70vh;
}

#settings-dialog sl-tab-group,
#settings-dialog sl-tab-panel,
#settings-dialog sl-tab-group::part(base),
#settings-dialog sl-tab-group::part(body)
{
  height: 100% !important;
}

#log-level-select
{
  max-width: 150px;
}
